.cls-seccion-header {
  background: var(--ternary-color);
  /* margin: -17.5px -17.5px 10px -17.5px; */
  margin: -2.5% -2.3% 10px -2.3%;
  color: var(--blanco-color);
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
}

.cls-seccion-form-header {
  background: var(--ternary-color);
  /* margin: 0px -17.5px 15px -17.5px; */
  margin: 0% -2.3% 10px -2.3%;
  color: var(--blanco-color);
  text-align: center;
  /* border-radius: 10px 10px 0px 0px; */
  padding: 5px;
}

.btn-new-file {
  border: 1px solid #dcdcdc;
  background-color: #f8f8f8;
}

.btn-new-file:hover {
  background-color: #eeeeee;
}