<div class="container-fluid g-0">
    <app-header-admin></app-header-admin>

    <main>
        <app-side-nav-admin></app-side-nav-admin>
        <div class="display-area">
            <section >
                <div class="container pt-4">
                    
                  <div class="card mt-3">
                    <h5 class="card-header">Configuración de cuenta</h5>

                    <div class="container ">
                    
                        <h6 class="pt-3">Cambiar contraseña</h6>
                      <div class="row pt-3">
                        <div class="col-md-2">
                            <label for="estado" class="form-label">Contraseña actual</label>
                            
                        </div>
                        <div class="col-md-6">
                            
                            <input
                            id="nombre"
                            class="form-control"
                            placeholder="Contraseña actual"
                            name="nombre"
                            
                            />
                        </div>
                        
                        
                      </div>
                      <div class="row pt-3">
                        <div class="col-md-2">
                            <label for="estado" class="form-label">Nueva contraseña</label>
                           
                        </div>
                        <div class="col-md-6">
                            
                            <input
                            id="nombre"
                            class="form-control"
                            placeholder="Nueva contraseña"
                            name="nombre"
                            
                            />
                        </div>
                        
                        
                      </div>
                      <div class="row pt-3">
                        <div class="col-md-2">
                            <label for="estado" class="form-label">Confirme la nueva contraseña</label>
                            
                        </div>
                        <div class="col-md-6">
                            
                            <input
                            id="nombre"
                            class="form-control"
                            placeholder="Confirma contraseña"
                            name="nombre"
                            
                            />
                        </div>
                        
                        
                      </div>        
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                      <button class="btn  btn-sm btn-success" [routerLink]="['/admin/tablero']">
                          Cambiar contraseña
                      </button>
                    </div>
                      
            
                  </div>
            
                </div>
            </section>

        </div>

        

    </main>
</div>
