app-header-admin {
    position: fixed;
    width: 100%;
    z-index: 2;
}

main {
    position: absolute;
    width: 100%;
    top: 4.5rem;
    z-index: 1;
}

app-side-nav-admin {
    position: absolute;
    left: 0rem;
    width: 250px;
    height: calc(100vh - 4.5rem);
    background-color: rgb(240, 240, 240);
}

.display-area {
    position: absolute;
    left: 250px;
    width: calc(100% - 250px);
}