<app-header-admin></app-header-admin>

<app-side-nav-admin id="sidebar"
                    class="offcanvas offcanvas-start show" data-bs-backdrop="false" tabindex="-1"></app-side-nav-admin>

<div class="content-layout-admin">
    <section *ngIf="!blnEditar && !blnAgregar && !blnEditarFunciones">
        <div class="container pt-5">
            <div class="row">
                <div class="d-inline-block col-md-8">
                    <h2 class="d-inline-block me-2">Roles y Perfiles</h2>
                    <h6 class="d-inline-block">Ver listado de roles y perfiles en el sistema</h6>
                </div>
                <div class="col-md-4">
                    <div class="d-flex justify-content-end align-items-end">
                        <button class="btn  btn-sm btn-success" (click)="agregar()"
                                *ngIf="canActivate('ADMIN_CAT_ROLES_AGR')">
                            <i class="bi bi-plus-lg"></i>
                            Agregar rol
                        </button>
                    </div>
                </div>
            </div>


            <div class="card mt-2">
                <div class="container ">
                    <form [formGroup]="formBusqueda" (ngSubmit)="buscarSubmit()" >
                        <div class="row pt-3 pb-3">
                            <div class="col-md-4">
                                <input class="form-control" placeholder="Escriba el nombre del rol....."
                                       formControlName="nombre" id="nombreBusqueda" name="nombreBusqueda"
                                       [class.is-invalid]="formBusqueda.get('nombre')?.invalid &&
                       (formBusqueda.get('nombre')?.dirty || formBusqueda.get('nombre')?.touched)"/>
                            </div>
                            <div class="col-md-4">
                                <select class="form-select" formControlName="estatus" id="estatusBusqueda"
                                        name="estatusBusqueda">
                                    <option selected [ngValue]="null" [disabled]="false">Seleccione opción</option>
                                    <option [ngValue]="true">Activo</option>
                                    <option [ngValue]="false">Baja</option>
                                </select>

                            </div>

                            <div class="col-md-4">
                                <div class="d-flex justify-content-end align-items-end">
                                    <button class="btn  btn-sm btn-outline-secondary me-2" type="button"
                                            (click)="formBusqueda.reset()">
                                        Restablecer
                                    </button>
                                    <button type="submit" class="btn btn-sm btn-info"
                                            [disabled]="!formBusqueda.valid || loaderBusqueda">
                                        Filtrar
                                        <div *ngIf="loaderBusqueda" class="spinner-border spinner-border-sm" role="status"></div>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="card mt-3">
                <div class="container table-responsive">
                    <table class="table table-striped " aria-describedby="table_usuarios">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Estatus</th>
                            <th scope="col" *ngIf="canActivate('ADMIN_CAT_ROLES_FUNC') || canActivate('ADMIN_CAT_ROLES_MOD') || canActivate('ADMIN_CAT_ROLES_ELM')">Acciones</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="lstTabla != null">
                        <tr *ngFor="let item of lstTabla; index as i">
                            <td> {{ item.id }} </td>
                            <td> {{ item.nombre}} </td>
                            <td>
                                <span class="badge bg-success" *ngIf="item.estatus">Activo</span>
                                <span class="badge bg-danger" *ngIf="!item.estatus">Baja</span>
                            </td>
                            <td>
                              <button class="btn btn-warning btn-sm btn-circle me-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                                      *ngIf="canActivate('ADMIN_CAT_ROLES_FUNC') || canActivate('ADMIN_CAT_ROLES_MOD') || canActivate('ADMIN_CAT_ROLES_ELM') "
                              >
                                <i class="bi bi-three-dots-vertical"></i>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                                <li><a class="dropdown-item" (click)="editarFunciones(item)"
                                       *ngIf="canActivate('ADMIN_CAT_ROLES_FUNC')">Establecer permisos</a></li>
                                <li><a class="dropdown-item" (click)="editar(item)"
                                       *ngIf="canActivate('ADMIN_CAT_ROLES_MOD')">Modificar</a></li>
                                <li><a class="dropdown-item" (click)="eliminarModal(modalEliminar, item)"
                                       *ngIf="canActivate('ADMIN_CAT_ROLES_ELM')">Eliminar</a></li>
                              </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <ngb-alert *ngIf="lstTabla != null && lstTabla.length == 0">
                        Sin datos para mostrar
                    </ngb-alert>
                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination *ngIf="lstTabla != null && lstTabla.length>pageSizeLstTabla"
                                        [collectionSize]="lstTabla.length"
                                        [(page)]="pageLstTabla"
                                        [pageSize]="pageSizeLstTabla"
                        >
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="blnAgregar || blnEditar">
        <div class="container pt-4">
            <div class="d-inline-block col-md-8">
                <h2 class="d-inline-block me-2">{{messageTitle}}</h2>
                <h6 class="d-inline-block">{{messageSubTitle}}</h6>
            </div>
            <div class="card mt-3">
                <div class="container ">
                    <form [formGroup]="formRegistro" (ngSubmit)="guardarSubmit()">
                        <div class="row pt-3 pb-3">
                            <div class="col-md-4">
                                <label class="form-label">Rol: <app-campo-obligatorio/></label>
                                <input class="form-control" placeholder="Escriba el nombre del rol....."
                                       formControlName="nombre" id="nombreRegistro" name="nombreRegistro"
                                       [class.is-invalid]="formRegistro.get('nombre')?.invalid &&
                       (formRegistro.get('nombre')?.dirty || formRegistro.get('nombre')?.touched)"/>
                                <div *ngIf="formRegistro.get('nombre')?.invalid &&
                  formRegistro.get('nombre')?.errors &&
                  (formRegistro.get('nombre')?.dirty || formRegistro.get('nombre')?.touched)">
                                    <small class="text-danger"
                                           *ngIf="formRegistro.get('nombre')?.hasError('required')">
                                        Este campo es requerido.
                                    </small>
                                    <small class="text-danger"
                                           *ngIf="formRegistro.get('nombre')?.hasError('minlength')">
                                        El valor mínimo es 3 characters.
                                    </small>
                                </div>

                            </div>
                            <div class="col-md-4" *ngIf="blnEditar">
                                <label class="form-label">Estatus</label>
                                <select class="form-select" formControlName="estatus" id="estatusRegistro"
                                        name="estatusRegistro"
                                        [class.is-invalid]="formRegistro.get('estatus')?.invalid &&
                       (formRegistro.get('estatus')?.dirty || formRegistro.get('estatus')?.touched)">
                                    <option selected [ngValue]="null" [disabled]="false">Seleccione opción</option>
                                    <option [ngValue]="true">Activo</option>
                                    <option [ngValue]="false">Baja</option>
                                </select>
                                <div *ngIf="formRegistro.get('estatus')?.invalid &&
                  formRegistro.get('estatus')?.errors &&
                  (formRegistro.get('estatus')?.dirty || formRegistro.get('estatus')?.touched)">
                                    <small class="text-danger"
                                           *ngIf="formRegistro.get('estatus')?.hasError('required')">
                                        Este campo es requerido.
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" class="btn btn-sm btn-outline-dark me-2" (click)="cancelar()">
                                Regresar
                            </button>
                            <button type="submit" class="btn btn-sm btn-success"
                                    [disabled]="!formRegistro.valid || loaderGuardar">
                                {{messageButton}} <div *ngIf="loaderGuardar" class="spinner-border spinner-border-sm" role="status"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

  <section *ngIf="blnEditarFunciones">
    <div class="container pt-4">
      <div class="d-inline-block col-md-8">
        <h2 class="d-inline-block me-2">{{messageTitle}}</h2>
        <h6 class="d-inline-block">{{messageSubTitle}}</h6>
      </div>
      <div class="card mt-3">
        <div class="container ">

            <div class="row pt-3 pb-3">
              <div class="col-md-4">
                <input class="form-control" placeholder="Escriba el nombre de la función....."
                       [(ngModel)]="filtroFunciones"
                />
              </div>
            </div>

            <div class="row pt-3 pb-3">
              <div class="col-md-3" *ngFor="let funcion of funciones; index as i">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox"
                         [(ngModel)]="funcion.estatus"
                         (change)="activarRolSistema($event, funcion)"
                         [disabled]="funcion.loading"
                  >
                  <div *ngIf="funcion.loading" class="spinner-border spinner-border-sm" role="status"></div>
                  <label class="form-check-label">
                    {{funcion.nombre}}
                  </label>
                </div>
              </div>
            </div>

            <div class="card-footer d-flex justify-content-end">
              <button type="button" class="btn btn-sm btn-outline-dark me-2" (click)="cancelar()">
                Regresar
              </button>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>


<!-- modal -->
<ng-template #modalEliminar let-c="close" let-d="dismiss">
    <div class="modal-body d-flex flex-column align-items-center">
        <i class="bi bi-exclamation-circle icono-grande" style="color: var(--warning-color-hover);"></i>
        <h4 class="mt-2 text-center">¿Estás seguro de querer eliminar este rol?</h4>
        <label class="mt-2 text-muted">No será posible recuperar después</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" (click)="cancelar()">No, cancela!</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="eliminarSubmit()" [disabled]="loaderGuardar">
            Sí, eliminalo!
            <div *ngIf="loaderGuardar" class="spinner-border spinner-border-sm" role="status"></div>
        </button>
    </div>
</ng-template>


