<div class="container">
  <div class="row mt-5 mb-5 text-responsive">
    <div class="col-md-6 footer-left">
      <h6><strong>Secretaría de la Contraloría General del Estado de Sonora</strong></h6>
      <div>
        <strong>Dirección:</strong> Centro de Gobierno, Edificio Hermosillo 2do. piso. Blvd. Paseo Río Sonora y Comonfort. Col. Villa de Seris. C.P. 83280, Hermosillo, Sonora, México.<br>
        <strong>Teléfonos:</strong> (662) 217 1885, (662) 217 2517, (662) 217 2106<br>
        <strong>Correo Electrónico:</strong> respuestadecides&#64;sonora.gob.mx<br>
      </div>
    </div>
    <div class="col-md-6" style="padding-right: 2%;">
      <div class="d-flex justify-content-center justify-content-md-end">
        <a style="align-self: center; text-decoration: none; color: black; margin: 7px;" href="https://contraloria.sonora.gob.mx/politica-de-uso-y-privacidad.html" target="_blank">Politica de Uso y Privacidad</a>
        <a style="align-self: center; text-decoration: none; color: black; margin: 7px;" href="https://denunciapp.sonora.gob.mx/" target="_blank">Denuncia Ciudadana</a>
        <a style="align-self: center; text-decoration: none; color: black;" href="https://contraloria.sonora.gob.mx/contacto.html" target="_blank">Contacto</a>
      </div>

      <div class="d-flex justify-content-center justify-content-md-end">
        <span style="align-self: center; margin-top:10px">Todos los derechos reservados</span>
      </div>
    </div>

  </div>
</div>



<footer id="sp-footer">
  <div class="row" style="height: 100%; padding: 5%;">
    <div class="col-lg-3 col-md-3 col-sm-6 col-12 d-flex justify-content-center">
      <img loading="lazy" src="../../../assets/images/logo-sonora-w.svg" alt="Gobierno de Sonora" class="cls_logoFooter">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12"></div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12 d-flex justify-content-center" style="align-self: center;">
      <div class="d-grid" style="margin-top: 10px; margin-bottom: -10px;">
        <div class="d-flex">
          <a class="bi bi-facebook redes sociales" href="https://www.facebook.com/ContraloriadeSonora" target="_blank"></a>
          <a class="bi bi-twitter-x redes sociales" href="https://twitter.com/contraloriason" target="_blank"></a>
          <a class="bi bi-instagram redes sociales" href="https://www.instagram.com/contraloriasonora/" target="_blank"></a>
          <a class="bi bi-youtube redes sociales" href="https://www.youtube.com/channel/UC5Up4gGVXQXHIJjArxKoliw" target="_blank"></a>
        </div>
        <div class="d-flex justify-content-center">
          <p style="color: white;">&#64;contraloriason</p>
        </div>

      </div>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-12 d-flex justify-content-center">
      <img loading="lazy" src="../../../assets/images/911.svg" alt="Número de emergencias: 911" class="cls_emergencias" width="150px" height="100px">
    </div>

  </div>
</footer>
